<% flash.each do |type, msg| %>
  <div>
    <h2><%= msg %></h2>
  </div>
<% end %>
<%= form_with(url: '/login') do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Log in" %>
<% end %>