<% flash.each do |type, msg| %>
  <div>
    <h2>*<%=type.upcase%>* <%= msg %></h2>
  </div>
<% end %>
<h3>LOG-IN BELOW</h3>
<%= form_with(url: '/login') do |f| %>
    <%= f.label :email %>:
    <%= f.email_field :email %><br>
    OR<br>
    <%= f.label :username %>:
    <%= f.email_field :username %><br>

    <%= f.label :password %>: 
     <%= f.password_field :password %><br><br>
    <%= f.submit "Log in" %>
<% end %>
<br>
<%= link_to "Sign up", '/users/new' %>
