<% flash.each do |type, msg| %>
  <div>
    <h2>*<%=type.upcase%>* <%= msg %></h2>
  </div>
<% end %>
<fieldset>
<h2>LOG-IN BELOW</h2>
</fieldset><br>
<fieldset><br>
<%= form_with(url: '/login') do |f| %>
    <%= f.label :email %>:
    <%= f.email_field :email %><br>
    OR<br>
    <%= f.label :username %>:
    <%= f.text_field :username %><br>

    <%= f.label :password %>: 
     <%= f.password_field :password %><br><br>
    <%= f.submit "Log in" %>
<% end %>
</fieldset>

