<h1> Player Information</h1>
<%= form_for :user do |f| %>
  Username: <%= f.text_field :username %><br />
  E-mail : <%= f.email_field :email %><br />
  Password: <%= f.password_field :biography %><br />
  First-Name: <%= f.text_field :first_name %> Last-Name: <%= f.text_field :last_name %><br />
  Phone Number: <%= f.phone_field :phone_number %><br />
  <%= f.submit %>
<% end %>