<hr>
<fieldset>
<h2> SIGN UP BELOW:</h2>
</fieldset>
<hr>
<%= render partial: 'layouts/errors', locals: {object: @user} %>
<fieldset>
<%= form_for @user do |f| %>
  <label>Username:</label> <%= f.text_field :username%><br />
  <label>E-mail :</label> <%= f.email_field :email %><br />
  <label>Password:</label> <%= f.password_field :password %><br />
  <label>First-Name:</label> <%= f.text_field :first_name %><br />
  <label>Last-Name:</label> <%= f.text_field :last_name %><br />
  <label>Phone Number:</label> <%= f.phone_field :phone_number %><br />
  <label>Game Master:</label> <%= f.check_box :game_master %><br />
  <%= f.submit %>
<% end %>
</fieldset>