<hr>
<fieldset>
    <h2><%= @user.first_name.capitalize %>'s Profile</h2>
</fieldset>
<hr>
<fieldset>
<fieldset>
    <legend>
        <b>PLAYER INFO:</b>
    </legend>
    <% if @user.game_master == true %>
        <li><b>Game Master Name: <%= @user.first_name %> <%= @user.last_name %></b></li>
    <% else %>
        <li><b>Player Name: <%= @user.first_name %> <%= @user.last_name %></b></li>
    <% end %>
    
        <li><b>Username: <%= @user.username %></b></li>
        <li><b>Email: <%= @user.email %></b></li>
        <li><b>Phone Number: <%= @user.phone_number %></b></li>
</fieldset>
<% if @user.game_master == false %>
<br>
<fieldset>
<legend>
    <b>PLAYER CHARACTERS:</b>
</legend>

    <% @characters.each do |c| %>
            <% if c.user_id == @user.id %>
                <li><b> <%=link_to(c.name.capitalize,  character_path(c.id)) %> The <%= c.race %> <%= c.character_class %></b></li>
            <% end %>
        <% end %>
    <% if !@user.characters.exists?%>
        <h1><%= "No Characters" %></h1><br>
        <button><%= link_to("Create A Character", new_user_character_path(current_user.id)) %></button>
    <% end %>
    </fieldset>
<% end %>
</fieldset>
<hr>
 <% if logged_in? && current_user.id == @user.id  %>
 <fieldset>
    <button><%= link_to "Edit Your Information", edit_user_path(@user) %></button>
    <%= button_to("Delete Account", user_path(@user), method: :delete) %>
 </fieldset>
 <% else%>
 <fieldset>
    <button><%= link_to("LOG IN", login_path) %></button> <b>LOG IN TO EDIT/DELETE YOUR USER</b> 
 </fieldset>
 <% end %>
 
 
