<h1>Player Name: <%= @user.first_name %> <%= @user.last_name %></h1><br />
<ul>
<li><h3>Username: <%= @user.username %></h3></li>
<li><h3>Email: <%= @user.email %></h3></li>
<li><h3>Phone Number: <%= @user.phone_number %></h3></li>
</ul> 