<br><br>
<fieldset>
<h2>PLAYER: <%= link_to(character.user.first_name.capitalize, character_path(character.user_id)) %> <%= link_to(character.user.last_name.capitalize, character_path(character.user_id)) %></h2>
<h2>CAMPAIGN: <%= link_to(character.campaign.name.capitalize,  campaign_path(character.campaign_id)) %></h2>
</fieldset><br>
<fieldset>
<%= character_logo %><br /><br />
<h2>CHARACTER INFO:</h2>
    <b>Name:</b> <%=character.name.capitalize %><br />
    <b>Level:</b> <%= character.level %><br />
    <b>Race:</b> <%= character.race %><br />
    <b>Class:</b> <%= character.character_class %><br />
    <b>Armor Class:</b> <%= character.armor_class %><br />
    <b>Speed:</b> <%= character.speed %>ft<br />
    <b>Strength:</b> +<%= character.strength %><br />
    <b>Dexterity:</b> +<%= character.dexterity %><br />
    <b>Constitution:</b> +<%= character.constitution %><br />
    <b>Intelligence:</b> +<%= character.intelligence %><br />
    <b>Wisdom:</b> +<%= character.wisdom %><br />
    <b>Charisma:</b> +<%= character.charisma %><br />
    <b>Languages:</b> <%= character.language_1 %>, <%= character.language_2 %><br />
    <b>Weapon Proficiencies:</b> <%= character.weapon_1 %>, <%= character.weapon_1 %><br />
    <b>Armor Proficiencies:</b> <%= character.armor_1 %><br />
    <b>Skill Proficiencies:</b> <%= character.skill_1 %>, <%= character.skill_2 %><br />
</fieldset><br>