<h1>hi</h1>

<%= form_for :character do |f| %>
  NAME: <%= f.text_field :name %><br />
  LEVEL: <%= f.select :level, (1..20) %><br />
  RACE: <%= f.select :race, (character_race) %><br />
  CLASS: <%= f.select :class, (character_class) %><br />
  ARMOR CLASS: <%= f.select :armor_class, (10..22)  %><br />
  SPEED: <%= f.select :phone_number, ([5,10,15,20,25,30,35,40,45,50]) %> ft<br />
  STRENGTH: +<%= f.select :strength, (1..6) %><br />
  DEXTERITY: +<%= f.select :dexterity, (1..6) %><br />
  CONSTITUTION: +<%= f.select :constitution, (1..6) %><br />
  INTELLIGENCE: +<%= f.select :intelligence, (1..6) %><br />
  WISDOM: +<%= f.select :wisdom, (1..6) %><br />
  CHARISMA: +<%= f.select :charisma, (1..6) %><br />
  LANGUAGES:<br />
  language one: <%= f.select :language_1, (character_language) %><br />
  language two: <%= f.select :language_2, (character_language) %><br />
  language three: <%= f.select :language_3, (character_language) %><br />
  WEAPON PROFICENCY:<br />
  Weapon: +<%= f.select :weapon_1, (character_weapons) %><br />
  Weapon: +<%= f.select :weapon_2, (character_weapons) %><br />
  ARMOR PROFICENCEY:<br />
  armor: <%= f.select :armor_1, (character_armor) %><br />
  armor: <%= f.select :armor_2, (character_armor) %><br />
  SKILLS:<br />
  SKILL PROF: <%= f.select :skill_1, (character_skills) %><br />
  SKILL PROF: <%= f.select :skill_2, (character_skills) %><br />
  <%= f.submit %>
<% end %>