<%= flash[:message] %>
<% if @user %>
    <h2><%= @user.first_name %>'s characters</h2>
<% else%>
    <h2>ALL CHARACTERS:</h2>
    <% end %>

   <% @characters.each do |c| %>
    Name:  <%=link_to(c.name,  "characters/#{c.id}") %><br />
    Level: <%= c.level %><br />
    Race: <%= c.race %><br />
    Class: <%= c.character_class %><br /><br />
<% end %>
