</h1>Your chosen character</h1>

    Name: <%= @character.name %><br />
    Level: <%= @character.name %>
    Race: <%= @character.race %><br />
    Class: <%= @character.class %><br />
    Armor Class: <%= @character.armor_class %><br />
    Speed: <%= @character.speed %><br />
    Strength: <%= @character.strength %><br />
    Dexterity: <%= @character.dexterity %><br />
    Constitution: <%= @character.constitution %><br />
    Intelligence: <%= @character.intelligence %><br />
    Wisdom: <%= @character.wisdom %><br />
    Charisma: <%= @character.charisma %><br />
    Languages: <%= @character.language_1 %>, <%= @character.language_2 %>, <%= @character.language_3 %><br />
    Weapon Proficiencies:<%= @character.weapon_1 %>, <%= @character.weapon_2 %><br />
    Armor Proficiencies: <%= @character.armor_1 %>, <%= @character.armor_2 %><br />
    Skill Proficiencies: <%= @character.skill_1 %>, <%= @character.skill_2 %><br />
    <%= link_to "Edit Character", edit_character_path(@character) %>
    <%= button_to("delete character", '/characters/destroy') %>