</h1>Your chosen character</h1>

    Name: <%= @character.name %><br />
    Level: <%= @character.name %>
    Race: <%= @character.race %><br />
    Class: <%= @character.class %><br />
    Armor Class: <%= @character.armor_class %><br />
    Speed: <%= @character.speed %><br />
    Strength: <%= @character.strength %><br />
    Dexterity: <%= @character.dexterity %><br />
    Constitution: <%= @character.constitution %><br />
    Intelligence: <%= @character.intelligence %><br />
    Wisdom: <%= @character.wisdom %><br />
    Charisma: <%= @character.charisma %><br />
    Languages: <%= @character.languages.each do |lang| %>, 
               <%= lang %>
               <% end %><br />
    Weapon Proficiencies:<%= @character.proficiencies.each do |prof| %>
                         <%= prof %>
                         <% end %><br />
    Armor Proficiencies: 
    Skill Proficiencies: 
    <%= link_to "Edit Character", edit_character_path(@character) %>
    <%= button_to("delete character", '/characters/destroy') %>


    