<br>
<fieldset>
<h2>CAMPAIGN NAME: <%= @campaign.name %></h2>

</fieldset><br>
<fieldset>
<fieldset>
    <legend><b>GAME-MASTER INFO:</b></legend>
<ul>
    <li><h4>GM Name: <%= @campaign.gm_name.capitalize %></h4></li>
    <li><h4>GM Phone Number: <%= @campaign.gm_phone_number %></h4></li>
    <li><h4>Gm Email: <%= @campaign.gm_email %></h4></li>
</ul>
</fieldset>
<hr><hr>
<fieldset>
<legend><b>CAMPAIGN INFO:</b></legend>
<ul>
    <li><h4>Start Date: <%= @campaign.start_date.strftime( "%a, %B, %e") %></h4></li>
    <li><h4>End Date: <%= @campaign.end_date.strftime( "%a, %B, %e") %></h4></li>
    <li><h4>Next Session: <%= @campaign.next_session.strftime( "%a, %B, %e") %></h4></li>
    <li><h4>Session Active:
            <% if @campaign.session_active == true%>
            <%= "the group is out questing" %></h4>
            <% else %>
            <%= "The group is in the tavern" %></li>
            <% end %></h4></li>
    <li><h4>Quest Log: <%= @campaign.quest_log %></h4></li>
</ul>
</fieldset>
<hr><hr>
<fieldset>
<legend><b>CAMPAIGN CHARACTERS:</b></legend>

    <% @characters.each do |c| %>
        <% if c.campaign_id == @campaign.id %>
            <ul>
            <li><h4><%=link_to(c.name.capitalize,  character_path(c.id)) %> The <%= c.race %> <%= c.character_class %></h4></li>
            </ul>
        <% end %>
    <% end %>
    
    <% if !@campaign.characters.exists? %>
        <h2>No Characters On This Quest</h2>
    <% end%>    

<button><%= link_to("Create a Character For The #{@campaign.name} Campaign", new_campaign_character_path(@campaign.id)) %></button>
</fieldset><br>
</fieldset>
<% # need to make ability to delete campaign if GM %>
<% if logged_in? && current_user.game_master == true %>
    <fieldset>
        <button><%= link_to "Edit Campaign", edit_campaign_path(@campaign) %></button>
        <%= button_to "Delete Campaign", campaign_path(@campaign), method: :delete %>
    </fieldset>
 <% end %>