<%= #flash[:message] %>
<%= #display_header %>
<% # render partial: 'campaign', collection: @campaigns %>

<h2>ALL CAMPAIGNS:</h2>
<% @campaigns.each do |c| %>
<b>Campaign Name:</b> <%=link_to(c.name,  "campaigns/#{c.id}") %><br>
<b>GM Name:</b> <%= c.gm_name.capitalize %><br>
<b>Next Session:</b> <%= c.next_session.strftime( "%a, %B, %e") %><br>
<b>Session Active:</b> 
    <% if c.session_active == true%>
    <%= "the group is out questing" %>
    <% else %>
    <%= "The group is in the tavern awaiting thier next quest." %>
    <% end %><br><br>
<% end %>