<hr>
<fieldset>
<h2>CAMPAIGNS:</h2>
</fieldset>
<hr>
<% @campaigns.campaign_order_alphabet.each do |c| %>
   <br>
    <fieldset>
    <legend>
    <b>Campaign Name:</b> <%=link_to(c.name,  "campaigns/#{c.id}") %><br>
    </legend>
    <b>GM Name:</b> <%= c.gm_name.capitalize %><br>
    <b>Next Session:</b> <%= c.next_session.strftime( "%a, %B, %e") %><br>
    <b>Session Active:</b> 
    <% if c.session_active == true%>
    <%= "the group is out questing" %>
    <% else %>
    <%= "The group is in the tavern awaiting thier next quest." %>
    <% end %>
    </fieldset>
<% end %>


