<h2>ALL CAMPAIGNS:</h2>
<% @campaigns.each do |c| %>
<h2>Campaign Name: <%=link_to(c.name,  "campaigns/#{c.id}") %></h2>
<h3>GM Name: <%= c.gm_name.capitalize %></h3></li>
<h3>Next Session: <%= c.next_session.strftime( "%a, %B, %e") %></h3></li>
<h3>Session Active: 
    <% if c.session_active == true%>
    <%= "the group is out questing" %></h3>
    <% else %>
    <%= "The group is in the tavern" %></li>
    <% end %>
<% end %>