<!DOCTYPE html>
<html>
  <head>
    <title>GmCampaignApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  </head>

  <body>
    <div>
     <%= layout_pref %>
    </div>
    <%= yield %>
  </body>
</html>

<%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%# if current_user && logged_in? %>
     <%# = button_to("Log Out", '/logout', method: :delete) %>
  <%# end %>