<!DOCTYPE html>
<html>
  <head>
    <title>GmCampaignApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
   <div class="navbar">
    <%= link_to("Log in with Google", '/auth/google_oauth2', method: :post) %>
    <%= link_to("See All The Characters", '/characters') %>
    <%= link_to("See All The Players", '/users') %>
    

      <% if !current_user %>
          <%= link_to("HI Sign Up", new_user_path) %>
          <%= link_to("Log in", login_path) %>
        <% end %>
        <% if current_user && logged_in? %>
          <%= link_to "#{current_user.first_name}'s profile", user_path(current_user)%>
          <%= link_to "Log Out", '/login', method:'delete' %>
        <% end %>
  
  </div>
  <h1>Campaign APP</h1>
   <%= button_to("Log in with Google", '/auth/google_oauth2', method: :post) %>
    <%= yield %>
  </body>
</html>

<%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>