<!DOCTYPE html>
<html>
  <head>
    <title>GmCampaignApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="navbar">
    <%= link_to("Log in with Google", '/auth/google_oauth2', method: :post) %>
    <%= link_to("See All The Characters", '/characters') %>
    <%= link_to("See All The Players", '/users') %>
  </div>
  <h1>Campaign APP</h1>
    <%= yield %>
  </body>
</html>